In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [23]:
col_str = 'age workclass fnlwgt education education-num marital-status occupation relationship race sex capital-gain capital-loss hours-per-week native-country above-50k'
columns = col_str.split(' ')

In [24]:
columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'above-50k']

In [25]:
data_df = pd.read_table('census+income/adult.data', delimiter=',', header=None)

In [26]:
data_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
#test_df = pd.read_table('census+income/adult.test', delimiter=',', header = 55)

In [35]:
test_df.head()

,38,Private,219446,9th,5,Married-spouse-absent,Exec-managerial,Not-in-family,White,Male,0,0.1,54,Mexico,<=50K.
0,21,Private,110677,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K.
1,63,Private,145985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
2,34,Local-gov,382078,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,3103,0,50,United-States,>50K.
3,42,Self-emp-inc,170721,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,50,United-States,>50K.
4,33,Private,269705,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K.

In [ ]:
data_df.head()

In [ ]:
test_df = pd.read_csv('census+income/adult.test', header = None)

In [ ]:
test_df

In [ ]:
test_df.columns = columns

In [ ]:
test_df

In [ ]:
ddf = data_df[['education', 'above-50k']]
tdf = test_df[['education', 'above-50k']]

## Checking the values in 'above-50k'

In [ ]:
ddf['above-50k'].unique()

In [ ]:
tdf['above-50k'].unique()

In [ ]:
boolify = {' <=50K': 0, ' >50K': 1}
ddf = ddf.replace({'above-50k': boolify})

In [ ]:
boolify = {' <=50K.': 0, ' >50K.': 1}
tdf = tdf.replace({'above-50k': boolify})

In [ ]:
ddf.head()

In [ ]:
tdf.head()

## Encoding the 'education' column

## Visualizing data

In [ ]:
#saving this for later. I got this from the matplotlib.pyplot api and previously used it in a football analytics project

Pie Charts for salary

In [ ]:
ddf['above-50k'].value_counts() #using this as a reference for the pie chart

In [ ]:
tdf['above-50k'].value_counts() #using this as a reference for the pie chart

In [ ]:
plt.pie(ddf['above-50k'].value_counts(), labels = ['<= 50k', '> 50k'])

In [ ]:
plt.pie(tdf['above-50k'].value_counts(), labels = ['<= 50k', '> 50k'])

Bar charts for education

In [ ]:
ddf['education'].value_counts()

In [ ]:
ddf['education'].value_counts().index

In [ ]:
plt.figure(figsize = (20,20))
plt.bar(x = ddf['education'].value_counts().index, height =  ddf['education'].value_counts().values)

Histograms for _ and _

In [ ]:
plt.figure(figsize = (20,20))
plt.bar(x = tdf['education'].value_counts().index, height =  tdf['education'].value_counts())

## Encoding

In [ ]:
ohc = OneHotEncoder()
doh = ohc.fit_transform(ddf['education'])
toh = ohc.fit_transform(ddf['education'])

In [ ]:
doh

## Correlations

## Modeling

### Classification

### Clustering