In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

C:\Users\suzyc\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data_df = pd.read_table('census+income/adult.data', delimiter=',', header=None)

In [3]:
data_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
test_df = pd.read_csv('census+income/adult.test', header=None)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 15

In [ ]:
test_df.head()

age
workclass
fnlwgt
education
education-num
marital-status
occupation
relationship
race
sex
capital-gain
capital-loss
hours-per-week
native-country

In [ ]:
col_str = 'age workclass fnlwgt education education-num marital-status occupation relationship race sex capital-gain capital-loss hours-per-week native-country above-50k'
columns = col_str.split(' ')

In [ ]:
columns

In [ ]:
data_df.columns = columns

In [ ]:
data_df.head()

In [ ]:
test_df = pd.read_csv('census+income/adult.test', header = None)

In [ ]:
test_df

In [ ]:
test_df.columns = columns

In [ ]:
test_df

In [ ]:
ddf = data_df[['education', 'above-50k']]
tdf = test_df[['education', 'above-50k']]

## Checking the values in 'above-50k'

In [ ]:
ddf['above-50k'].unique()

In [ ]:
tdf['above-50k'].unique()

In [ ]:
boolify = {' <=50K': 0, ' >50K': 1}
ddf = ddf.replace({'above-50k': boolify})

In [ ]:
boolify = {' <=50K.': 0, ' >50K.': 1}
tdf = tdf.replace({'above-50k': boolify})

In [ ]:
ddf.head()

In [ ]:
tdf.head()

## Encoding the 'education' column

## Visualizing data

In [ ]:
#saving this for later. I got this from the matplotlib.pyplot api and previously used it in a football analytics project

Pie Charts for salary

In [ ]:
ddf['above-50k'].value_counts() #using this as a reference for the pie chart

In [ ]:
tdf['above-50k'].value_counts() #using this as a reference for the pie chart

In [ ]:
plt.pie(ddf['above-50k'].value_counts(), labels = ['<= 50k', '> 50k'])

In [ ]:
plt.pie(tdf['above-50k'].value_counts(), labels = ['<= 50k', '> 50k'])

Bar charts for education

In [ ]:
ddf['education'].value_counts()

In [ ]:
ddf['education'].value_counts().index

In [ ]:
plt.figure(figsize = (20,20))
plt.bar(x = ddf['education'].value_counts().index, height =  ddf['education'].value_counts().values)

Histograms for _ and _

In [ ]:
plt.figure(figsize = (20,20))
plt.bar(x = tdf['education'].value_counts().index, height =  tdf['education'].value_counts())

## Encoding

In [ ]:
ohc = OneHotEncoder()
doh = ohc.fit_transform(ddf['education'])
toh = ohc.fit_transform(ddf['education'])

In [ ]:
doh

## Correlations

## Modeling

### Classification

### Clustering